/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 5px;
}

body {
  font-size: 1.2rem;
}

article {

}

h1 {
  font-size: xx-large;
}

h2 {

}

img {
	max-width: 100%;
  margin: 40px;
}

main {

}

section {

}

figure {
	margin: 0;
}

figcaption {
  font-size: .8em;
}

@media screen and (min-width: 794px) {
  body {
    background-color: red;
    font-size: 1.7rem;
  }

  *, *:before, *:after {
    margin: 20px;
  }

  figure {
    width: 30%;


  }
}